#root {
  margin:0;
  padding:0;
  color:white;
  display: flex;
  background-color: #282a2e;
}

.GnbContainer {
  background-color: #191b1d;
  height: 100vh;
  width: 100px;

}
.GnbContainer ul {
  margin:0;
  padding:0;
}

.SnbContainer{
  background-color: #2b2d31;
  width:200px;
}